.outer_header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: black;
    height: 6%;
}

.options {
    position: relative;
    top: 0%;
    left: 90%;
    width: 10%;
    height: 100%;
    border-left-color: aqua;
    border-left-width: 1%;
    border-left-style: solid;
    border-right-color: aqua;
    border-right-width: 1%;
    border-right-style: solid;
    border-top-color: aqua;
    border-top-width: 1%;
    border-top-style: solid;
    color: white;
    text-align: center;
}

.text {
    position: relative;
    top: 30%;
}

.text:hover {
    color: aqua
}

.options_settings {
    position: absolute;
    z-index: 2;
    left: 90%;
    top: 6%;
    width: 10%;
    height: 6%;
    border-color: aqua;
    border-width: 1%;
    border-style: solid;
    color: white;
    text-align: center;
    background-color: black;
}

.menu_div0 {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
}

.menu_label {
    position: relative;
    top: 30%;
}

.menu_label:hover {
    color: aqua;
}